@model CapaAdmin.Models.PUESTO

@{
    ViewBag.Title = "Detalles del Puesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var btnZise = "h4";
    var btnPadding = "pt-1 pb-1";

}

<div class="card mt-5 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>

    <div class="m-3">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIVEL_RIESGO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIVEL_RIESGO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIVEL_MN_SALARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIVEL_MN_SALARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIVEL_MX_SALARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIVEL_MX_SALARIO)
            </dd>

        </dl>
    </div>

    <div class="card-footer">
        <a class="btn btn-primary @btnZise @btnPadding" href="@Url.Action("Index", "PUESTOes")"><i class="bi bi-arrow-bar-left"></i></a>
        <a class="btn btn-warning @btnZise @btnPadding" href="@Url.Action("Edit", "PUESTOes", new {id = Model.ID_PUES})"><i class="bi bi-pencil-square"></i></a>
    </div>
</div>