@model CapaAdmin.Models.TP_DEDUCCIONES

@{
    ViewBag.Title = "Crear Nueva Deduccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mt-5 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal ">

            <div class="form-group m-3">
                <div class="m-1 text-black text-capitalize fw-bold">
                    @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-12 m-1">
                    @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group m-3">
                <div class="m-1 text-black text-capitalize fw-bold">
                    @Html.LabelFor(model => model.DEPENDE_SALARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-12 m-1">
                    @Html.EditorFor(model => model.DEPENDE_SALARIO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DEPENDE_SALARIO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group m-3">
                <div class="m-1 text-black text-capitalize fw-bold">
                    @Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-12 m-1">
                    @Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="card-footer">
                <a href="@Url.Action("Index", "Deducciones")" class="btn btn-primary"><i class="bi bi-arrow-bar-left"></i></a>
                <input type="submit" value="Crear" class="btn btn-success m-2" />

            </div>
        </div>
    }
</div>
