@model CapaAdmin.Models.TIPO_NOMINA

@{
    ViewBag.Title = "Detalles de los tipos de nominas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var btnZise = "h4";
    var btnPadding = "pt-1 pb-1";

}

<div class="card mt-5 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>

    <div class="m-3">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
        </dl>
    </div>

    <div class="card-footer">
        <a class="btn btn-primary @btnZise @btnPadding" href="@Url.Action("Index", "TIPO_NOMINA")"><i class="bi bi-arrow-bar-left"></i></a>
        <a class="btn btn-warning @btnZise @btnPadding" href="@Url.Action("Edit", "TIPO_NOMINA", new {id = Model.ID_TI})"><i class="bi bi-pencil-square"></i></a>
    </div>
</div>