@model CapaAdmin.Models.EMPLEADO

@{
    ViewBag.Title = "Borrar Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var btnZise = "h4";
    var btnPadding = "pt-1 pb-1";

}

<div class="card mt-5 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>

    <div>
        <dl class="dl-horizontal m-3">
            <dt>
                @Html.DisplayNameFor(model => model.CEDULA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CEDULA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SALARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SALARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEPARTAMENTO.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEPARTAMENTO.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PUESTO.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PUESTO.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TIPO_NOMINA.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TIPO_NOMINA.Nombre)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color card-footer">
                <a class="btn btn-primary @btnZise @btnPadding" href="@Url.Action("Index", "EMPLEADOes")"><i class="bi bi-arrow-bar-left"></i></a>
                <input type="submit" value="Borrar" class="btn btn-success @btnZise @btnPadding" />
            </div>
        }
    </div>
