@model CapaAdmin.Models.EMPLEADO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUESTO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUESTO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_NOMINA.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_NOMINA.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EMPLE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
