@model IEnumerable<CapaAdmin.Models.EMPLEADO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CEDULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PUESTO.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_NOMINA.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CEDULA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTAMENTO.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PUESTO.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_NOMINA.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_EMPLE }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_EMPLE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_EMPLE })
        </td>
    </tr>
}

</table>
