@model CapaAdmin.Models.TRANSACCION

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>

    <div class="m-3">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TIPO_TRANSACCION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TIPO_TRANSACCION)
            </dd>
        </dl>
    </div>

    <!--add alert message-->
    <div class="card-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <a href="@Url.Action("Index", "Transacciones")" class="btn btn-primary"><i class="bi bi-arrow-bar-left"></i></a>
                <input type="submit" value="Delete" class="btn btn btn-danger" />
            </div>
        }
    </div>
</div>