
@{
    ViewBag.Title = "Inicio";
    var marggin = "mt-3 mb-3 col-sm-3";
}


<div class="row mt-2">
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">USUARIOS</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de Usuarios, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","LOGIN1")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">DEPARTAMENTOS</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de DEPARTAMENTOS, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","DEPARTAMENTOes")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">EMPLEADOS</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de EMPLEADOS, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","EMPLEADOes")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">TIPOS DE INGRESOS</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de TIPOS DE INGRESOS, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","TIPO_INGRESO")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">TIPOS DE NOMINA</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de TIPOS DE NOMINA, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","TIPO_NOMINA")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">SOLICITUDES</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de SOLICITUDES, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","SOLICITUDs")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">TRANSACCIONES</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de TRANSACCIONES, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","TRANSACCIONs")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">TIPOS DE INGRESOS</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de TIPOS DE INGRESOS, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","TIPO_INGRESO")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">PUESTOS</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de PUESTOS, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","PUESTOes")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">DEDUCCIONES</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de DEDUCCIONES, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","TP_DEDUCCIONES")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">TRANSACCIONES</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de TRANSACCIONES, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","RG_TRANSACCIONES")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
    <div class="@marggin">
        <div class="card border-1 border-dark">
            <div class="card-header bg-dark bg-gradient text-center">
                <h5 class="card-title text-white">REPORTES</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Gestor de REPORTES, Crear, Editar y Eliminar</p>
                <a href="@Url.Action("Index","")" class="btn btn-primary">Click Aqui!</a>
            </div>
        </div>
    </div>
</div>