@model CapaAdmin.Models.RG_TRANSACCIONES

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RG_TRANSACCIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO.CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.CEDULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TP_DEDUCCIONES.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TP_DEDUCCIONES.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_INGRESO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_INGRESO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANSACCION.TIPO_TRANSACCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANSACCION.TIPO_TRANSACCION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
