@model IEnumerable<CapaAdmin.Models.RG_TRANSACCIONES>

@{
    ViewBag.Title = "Registro de Trasacciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var btnZise = "h4";
    var btnPadding = "pt-1 pb-1";

}

<div class="card mt-3 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>

    <p class="m-2">
        <a class="btn btn-success" href="@Url.Action("Create", "RG_TRANSACCIONES")"><i class="bi bi-person-plus @btnZise @btnPadding"></i></a>
    </p>
    <table class="table m-1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FECHA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMPLEADO.CEDULA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TP_DEDUCCIONES.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPO_INGRESO.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TRANSACCION.TIPO_TRANSACCION)
            </th>
            <th>
                Editar/Detalles/Borrar
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MONTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMPLEADO.CEDULA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TP_DEDUCCIONES.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO_INGRESO.NOMBRE)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRANSACCION.TIPO_TRANSACCION)
                <td>

                    <a class="btn btn-warning p-0 ps-2 pe-2 text-white" href="@Url.Action("Edit", "RG_TRANSACCIONES", new { id = item.ID_RGTRANS })"><i class="bi bi-pencil-square @btnZise @btnPadding"></i></a> |
                    <a class="btn btn-primary p-0 ps-2 pe-2 text-white" href="@Url.Action("Details", "RG_TRANSACCIONES", new { id = item.ID_RGTRANS })"><i class="bi bi-ticket-detailed @btnZise @btnPadding"></i></a> |
                    <a class="btn btn-danger p-0 ps-2 pe-2 text-white" href="@Url.Action("Delete", "RG_TRANSACCIONES", new { id = item.ID_RGTRANS })"><i class="bi bi-trash3 @btnZise @btnPadding"></i></a>
                </td>
            </tr>
        }

    </table>
</div>

